.find-password-container {
  width: 100vw;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 180px;

  .title {
    width: 50%;
    font-size: 24px;
    color: #222;
    font-weight: 700;
    text-align: center;
    font-family: 'Playfair Display';
    margin: 80px 0;
  }

  // form
  .form-container {
    width: 50%;
    height: auto;

    form {
      display: flex;
      flex-direction: column;

      input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #bebebe;
      }

      .name-input-wrapper,
      .phoneNumber-input-wrapper,
      .id-input-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 40px;

        label {
          color: #777;
        }

        .name-error-message,
        .phoneNumber-error-message,
        .id-error-message {
          color: rgb(222, 78, 42);
        }

        .name-input,
        .phoneNumber-input,
        .id-input {
          height: 36px;
          font-size: 16px;
          color: #333;
          font-family: 'Open Sans';

          &:focus {
            outline: none;
          }

          &::placeholder {
            color: #c0c0c0;
            font-weight: 400;
            font-size: 16px;
            font-family: 'Open Sans';
          }
        }
      }
    }
  }

  // 버튼
  .button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .confirm-btn {
      width: 30%;
      border: 1px solid #222;
      border-radius: 1.3rem;
      height: 40px;
      background-color: transparent;
      cursor: pointer;
      font-size: 14px;
      transition: background-color 0.8s ease;
      font-family: 'Open Sans';

      &:hover {
        background-color: #222;
        color: #fff;
        border: none;
      }
    }
  }
}

// 태블릿
@media (max-width: 768px) {
  .find-password-container {
    width: 100vw;
    padding: 0 90px;

    .title {
      width: 100%;
      font-size: 22px;
      margin-top: 60px;
      margin-bottom: 80px;
    }

    // form
    .form-container {
      width: 80%;
    }
  }
}

// 모바일
@media (max-width: 480px) {
  .find-password-container {
    width: 100vw;
    height: 0;
    min-height: 640px;
    padding: 0 40px;

    .title {
      width: 100%;
      font-size: 20px;
      margin-top: 60px;
      margin-bottom: 80px;
    }

    // form
    .form-container {
      width: 80%;

      form {
        .name-input-wrapper,
        .phoneNumber-input-wrapper,
        .id-input-wrapper {
          .name-input,
          .phoneNumber-input,
          .id-input {
            &::placeholder {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
