@use './login.scss';
@use './lookbook.scss';
@use './navbar.scss';
@use './brandstory.scss';
@use './showroom.scss';
@use './layout.scss';
@use './newarrival.scss';
@use './productdetail.scss';
@use './signup.scss';
@use './mypage.scss';
@use './cart.scss';
@use './payment.scss';
@use './modal.scss';
@use './findid.scss';
@use './global.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.main-container {
  width: 100vw;
  min-height: 100vh;

  .main-img {
    position: relative;
    width: 100%;
    height: 677px;
  }

  .lookBook-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5%;

    .lookBook-banner-img {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    button {
      position: absolute;
      bottom: 10%;
      background-color: transparent;
      cursor: pointer;
      color: #fff;
      font-family: 'Playfair Display';
      font-weight: 500;
      font-size: 0.875rem;
      width: 14%;
      height: 5%;
      border: 1px solid #ffffff;
      border-radius: 1.25rem;
      transition: background-color 0.5s ease;
      letter-spacing: 0.063rem;
    }

    button:hover {
      background-color: #000;
      border: none;
    }
  }
}

// main product
.product-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 60px 0;
  padding: 3% 0;

  .category {
    font-size: 1.25rem;
    font-family: 'Open Sans';
  }

  .product-list {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3%;
    padding: 0 5%;
  }
}

.product-card-container {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  margin-bottom: 2.5rem;

  .img-box {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .product-info {
    width: 100%;
    text-align: center;
    margin-top: 1.25rem;
    font-family: 'Playfair Display';
    color: #222;

    .product-name {
      margin-bottom: 0.625rem;
    }

    .product-color {
      font-size: 0.875rem;
    }
  }
}

// slider
.slider-container {
  width: 100%;
  height: auto;
  margin: 0 auto;

  .slick-list {
    height: 400px; /* 원하는 고정 높이로 설정 */
    overflow: hidden;
  }

  .slick-slider {
    position: relative;

    .slick-dots {
      position: absolute;
      bottom: 0;
      text-align: center;

      li {
        button {
          &:before {
            font-size: 0.5rem;
            color: #999;
          }
        }
        &.slick-active button:before {
          color: #333;
        }
      }
    }
  }
}

.slider-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
  cursor: pointer;
  height: auto;

  .img-box {
    width: 100%;
    height: 280px;
    overflow: hidden;
    border-radius: 0.5rem;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .product-info {
    width: 100%;
    text-align: center;
    margin-top: 1.25rem;
    font-family: 'Playfair Display';
    color: #222;

    .product-name {
      margin-bottom: 0.625rem;
    }

    .product-color {
      font-size: 0.875rem;
    }
  }
}

@media (max-width: 480px) {
  .main-container {
    .main-img {
      height: 400px;
    }

    .product-list-container {
      margin: 30px 0;

      .category {
        display: none;
      }

      .product-list {
        .slider-container {
          display: none;
        }

        .product-card-container {
          width: 50%;

          .img-box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            overflow: hidden;
            border-radius: 0.5rem;

            img {
              object-fit: cover;
              width: 100%;
              height: auto;
            }
          }

          .product-info {
            width: 100%;
            text-align: center;
            margin-top: 10px;
            font-family: 'Playfair Display';
            color: #222;

            .product-name {
              margin-bottom: 5px;
              font-size: 14px;
            }

            .product-color {
              font-size: 14px;
            }
          }
        }
      }
    }

    .lookBook-wrapper {
      width: 430px;
      height: 400px;

      button {
        font-size: 10px;
        width: 100px;
        height: 30px;
      }
    }
  }
}
