// Alert 모달 (배경)
.alert-modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);

  // 모달 팝업
  .modal-wrapper {
    min-width: 280px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 30px 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);

    .noti {
      font-size: 18px;
      font-weight: 500;
      color: #333;
    }

    .modal-title {
      font-size: 14px;
      color: #555;
    }

    button {
      background-color: #eee;
      width: 100px;
      height: 35px;
      border-radius: 5px;
      font-size: 14px;
      color: #555;
      transition: background-color 0.8s ease;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #222;
        color: #fff;
      }
    }
  }
}

// Confirm 모달 (배경)
.confirm-modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);

  // 모달 팝업
  .modal-wrapper {
    width: 280px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 30px 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);

    .noti {
      font-size: 18px;
      font-weight: 500;
      color: #333;
    }

    .modal-title {
      font-size: 14px;
      color: #555;
    }
    .button-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      button {
        background-color: #eee;
        width: 100px;
        height: 35px;
        border-radius: 5px;
        font-size: 14px;
        color: #555;
        transition: background-color 0.8s ease;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: #222;
          color: #fff;
        }
      }
    }
  }
}
