.mypage-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
  padding: 0 200px;
  margin: 120px 0;

  .title {
    font-size: 24px;
    color: #222;
    font-weight: 700;
    text-align: center;
    width: 70%;
    margin-top: 80px;
    font-family: 'Playfair Display';
  }

  .profile,
  .delivery-address,
  .account-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .profile-title,
    .delivery-address-title,
    .account-info-title {
      width: 100%;
      font-size: 20px;
      color: #333;
      font-weight: 500;
      border-bottom: 1px solid #bcbcbc;
      padding-bottom: 18px;
      font-family: 'Open Sans';
    }

    .email,
    .phone-number,
    .name,
    .address,
    .post-code,
    .createdAt {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 14px;
      padding-top: 20px;

      .email-icon,
      .phone-icon,
      .user-icon,
      .address-icon,
      .post-code-icon,
      .createdAt-icon {
        font-size: 18px;
        color: #bcbcbc;
      }

      p {
        font-size: 16px;
        color: #333;
        font-weight: 400;
        font-family: 'Open Sans';
      }
    }
  }
}
