// 마이페이지 컨테이너
.mypage-container {
  width: 100vw;
  min-height: 610px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  background-color: #f5f5f5;
  padding: 30px 200px;
  position: relative;
}

// 회원정보 컨테이너
.user-info-container {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 100px;
  padding: 60px 60px;
  background-color: #ffffff;
  border-radius: 15px;

  .user-data-list-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .user-data-list-title {
      width: 100%;
      font-size: 18px;
      color: #333;
      font-weight: 500;
      border-bottom: 1px solid #bcbcbc;
      padding-bottom: 18px;
      font-family: 'Open Sans';
    }

    .user-data-list-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .user-data-card-container {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 14px;
      padding-top: 20px;

      .user-data-card {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 14px;

        .email-icon,
        .user-icon,
        .address-icon,
        .post-code-icon,
        .createdAt-icon,
        .phone-icon {
          font-size: 18px;
          width: 18px;
          height: 18px;
          line-height: 1;
          color: #bcbcbc;
        }

        p {
          font-size: 16px;
          color: #666;
          font-weight: 400;
          font-family: 'Open Sans';
        }
      }
    }

    .phone-edit-box,
    .email-edit-box,
    .address-edit-box,
    .postCode-edit-box {
      margin-top: 14px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 14px;

      .email-icon,
      .address-icon,
      .post-code-icon,
      .phone-icon {
        font-size: 18px;
        width: 18px;
        height: 18px;
        line-height: 1;
        color: #bcbcbc;
      }

      .phone-input,
      .email-input,
      .address-input,
      .postCode-input {
        min-width: 240px;
        width: auto;
        font-size: 16px;
        color: #666;
        font-weight: 400;
        font-family: 'Open Sans';
        border: 1px solid #c1c1c1;
        padding-left: 10px;
        border-radius: 6px;
        overflow: hidden;
        height: 30px;

        &:focus {
          outline: none;
          border: 1px solid #555;
        }
      }
    }
  }

  .button-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    .save-button {
      width: 80px;
      border: none;
      border-radius: 20px;
      height: 32px;
      background-color: #222;
      cursor: pointer;
      font-size: 14px;
      font-family: 'Open Sans';
      color: #fff;
    }

    .cancel-button {
      width: 80px;
      border: 1px solid #222;
      border-radius: 20px;
      height: 32px;
      background-color: #fff;
      cursor: pointer;
      font-size: 14px;
      font-family: 'Open Sans';
      color: #222;
    }
  }
  .info-edit-btn {
    width: 80px;
    border: 1px solid #222;
    border-radius: 20px;
    height: 32px;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.8s ease;
    font-family: 'Open Sans';

    &:hover {
      background-color: #222;
      color: #fff;
      border: none;
    }
  }
}

// 주문/배송내역 컨테이너
.order-history-container {
  width: 75%;
  min-height: 610px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 60px 60px;
  background-color: #ffffff;
  border-radius: 15px;

  .title {
    width: 100%;
    font-size: 18px;
    color: #333;
    font-weight: 500;
    border-bottom: 1px solid #bcbcbc;
    padding-bottom: 18px;
    font-family: 'Open Sans';
  }

  .noti-wrapper {
    width: 100%;
    height: calc(610px - 181.5px);
    display: flex;
    justify-content: center;
    align-items: center;

    .noti-title {
      text-align: center;
      color: #999;
    }
  }

  .order-history-list-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .order-history-card-container {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 16px;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #bcbcbc;

      .shipping {
        font-size: 18px;
        font-weight: 500;
        color: #333;
        font-family: 'Open Sans';
      }

      .order-history-product-info-container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .image-wrapper {
          width: 150px;
          height: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          img {
            width: 150px;
            height: 150px;
            object-fit: cover;
          }
        }

        .product-info-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 10px;

          .order-date {
            color: #999;
            font-size: 14px;
            font-weight: 500;
            font-family: 'Open Sans';
          }

          .product-name-color {
            color: #333;
            font-size: 16px;
            font-weight: 500;
            font-family: 'Playfair Display';
          }

          .product-price {
            color: #333;
            font-size: 20px;
            font-weight: 500;
            font-family: 'Playfair Display';
          }
        }
      }
    }
  }
}

// 교환/반품내역 컨테이너
.exchange-history-container {
  width: 75%;
  min-height: 610px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 60px 60px;
  background-color: #ffffff;
  border-radius: 15px;

  .title {
    width: 100%;
    font-size: 18px;
    color: #333;
    font-weight: 500;
    border-bottom: 1px solid #bcbcbc;
    padding-bottom: 18px;
    font-family: 'Open Sans';
  }

  .noti-wrapper {
    width: 100%;
    height: calc(610px - 181.5px);
    display: flex;
    justify-content: center;
    align-items: center;

    .noti-title {
      text-align: center;
      color: #999;
    }
  }
}

// 네비바
.mypage-navbar-container {
  width: 25%;
  min-height: 610px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 60px 30px;
  background-color: #ffffff;
  border-radius: 15px;

  p {
    width: 100%;
    font-size: 16px;
    color: #999;
    font-weight: 500;
    border-bottom: 1px solid #bcbcbc;
    padding-bottom: 20px;
    font-family: 'Open Sans';
    cursor: pointer;

    &:hover {
      color: #333;
    }

    &.active {
      color: #333;
    }
  }
}

// 태블릿
@media (max-width: 768px) {
  .mypage-container {
    gap: 20px;
    padding: 30px 30px;
  }
}

// 모바일
@media (max-width: 480px) {
  .mypage-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 30px 30px;

    // 네비바
    .mypage-navbar-container {
      width: 100%;
      min-height: auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding: 10px 20px;
      border-radius: 10px;

      p {
        font-size: 16px;
        border-bottom: none;
        padding-bottom: 0;
        text-align: center;
        padding: 0;
        margin: 0;

        &:hover {
          color: #333;
        }

        &.active {
          color: #333;
        }
      }
    }

    // 회원정보 컨테이너
    .user-info-container {
      width: 100%;
      gap: 60px;
      padding: 30px 30px;
      border-radius: 10px;

      .user-data-list-container {
        .user-data-list-title {
          font-size: 16px;
          padding-bottom: 14px;
        }

        .user-data-card-container {
          gap: 10px;
          padding-top: 14px;

          .user-data-card {
            .email-icon,
            .user-icon,
            .address-icon,
            .post-code-icon,
            .createdAt-icon,
            .phone-icon {
              font-size: 14px;
              width: 14px;
              height: 14px;
            }

            p {
              font-size: 14px;
            }
          }
        }

        .email-icon,
        .address-icon,
        .post-code-icon,
        .phone-icon {
          font-size: 14px;
          width: 14px;
          height: 14px;
        }

        .phone-input,
        .email-input,
        .address-input,
        .postCode-input {
          min-width: 240px;
          width: auto;
          font-size: 14px;
        }
      }

      .save-button {
        width: 60px;
        font-size: 14px;
      }

      .cancel-button {
        width: 60px;
        font-size: 14px;
      }

      .info-edit-btn {
        width: 60px;
        font-size: 14px;
      }
    }

    // 주문내역 컨테이너
    .order-history-container {
      width: 100%;
      padding: 30px 30px;
      border-radius: 10px;
      min-height: 557px;

      .title {
        font-size: 16px;
        padding-bottom: 14px;
      }

      .order-history-card-container {
        .order-history-product-info-container {
          gap: 10px;

          .image-wrapper {
            width: 120px;
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 120px;
              height: 120px;
              object-fit: cover;
            }
          }

          .product-info-wrapper {
            .order-date {
              font-size: 12px;
            }

            .product-name-color {
              font-size: 14px;
            }

            .product-price {
              font-size: 16px;
            }
          }
        }
      }
    }

    // 교환/반품내역 컨테이너
    .exchange-history-container {
      width: 100%;
      padding: 30px 30px;
      border-radius: 10px;
      min-height: 557px;

      .title {
        font-size: 16px;
        padding-bottom: 14px;
      }

      .noti-wrapper {
        .noti-title {
          font-size: 14px;
        }
      }
    }
  }
}
