.navbar-container {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);

  .navbar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 340px;
    height: 100vh;
    background-color: #fffdf7;
    padding: 100px 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    font-family: 'Playfair Display';
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease;
    opacity: 0;
    overflow: hidden;

    &.active {
      opacity: 1;
    }

    button {
      border: none;
      background-color: transparent;
      font-family: 'Playfair Display';
      font-size: 16px;
      cursor: pointer;
      color: #444;
      position: relative;

      &.highlight-category {
        border-bottom: 1px solid #444;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #444;
        transition: width 0.4s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }

    p {
      font-size: 20px;
      text-decoration: underline;
      margin-bottom: 20px;
      color: #222;
    }
  }
}
