.new-arrival-container {
  width: 100%;
  height: auto;
}

.new-arrival-list-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .list-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px 100px;
  }

  .page-nation {
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 40px 0;

    p {
      font-family: 'Playfair Display';
      cursor: pointer;
      font-size: 16px;
      color: #555;
    }

    .arrow-left,
    .arrow-right {
      font-size: 20px;
      color: #999;
      cursor: pointer;
      &:hover {
        color: #555;
      }
    }
  }
}

.new-arrival-card-container {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  cursor: pointer;

  .img-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .wish-icon {
      position: absolute;
      top: 20px;
      right: 30px;
    }
  }

  .item-info {
    font-family: 'Playfair Display';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: #222;
  }

  .name {
    font-size: 14px;
  }

  .color {
    font-size: 12px;
  }

  .price {
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
  }
}
